<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Size</h5>
        </div>
        <div class="card-body tab2-card">
            <!-- Tabs -->
            <ul class="nav nav-tabs" id="brandLogoTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button (click)="switchTab('add')" class="nav-link" [class.active]="activeTab === 'add'">Add</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button (click)="switchTab('view')" class="nav-link" [class.active]="activeTab === 'view'">View</button>
                </li>
            </ul>

            <!-- Add Form -->
            <div *ngIf="activeTab === 'add'" class="tab-pane">
                <form [formGroup]="brandForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" formControlName="size">
                        <div class="text-danger" *ngIf="submitted && f['size'].invalid">
                            <span *ngIf="f['size'].hasError('required')">Name is required.</span>
                        </div>
                    </div>

                    <!-- <div class="mb-3">
                        <label class="form-label">Image</label>
                        <input type="file" class="form-control"  (change)="onFileChange($event)">
                        <div class="text-danger" *ngIf="submitted && f['image'].invalid">
                            <span *ngIf="f['image'].hasError('required')">Image is required.</span>
                        </div>
                        <img *ngIf="imagePreview" [src]="imagePreview" alt="Brand Logo" width="100" height="100" class="mt-2">
                    </div> -->

                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary" >{{ editMode ? 'Update' : 'Save' }}</button>
                        <button type="button" class="btn btn-danger ms-2" (click)="onCancel()">Cancel</button>
                    </div>
                </form>
            </div>

            <!-- View Table -->
            <div *ngIf="activeTab === 'view'" class="tab-pane">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <!-- <th>Image</th> -->
                                <th>Created Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let band of objRows">
                                <td>{{ band.size }}</td>
                                
                                <td>{{ band.updatedAt | date:'MMM d, y' }}</td>
                                <td>
                                    <button class="btn btn-sm btn-warning" (click)="onEdit(band._id)">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button class="btn btn-sm btn-danger" (click)="Delete(band._id)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
